body{
    margin: 0;
    border: none;
    outline: none;
    font-family: "Rubik", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    background-color: #45b39d ;
}
.a-go-back{
    position: absolute;
    left: 50px;
   text-decoration: none;
}
.button-register{
    display: block;
    margin: auto;
    background-color: #2980b9;
    border: solid #515a5a 0px;
    border-radius: 10px;
    width: 10rem;
    height: 2em;
    transition: transform 0.3s ease
}
.button-register:hover{
    transform: scale(1.2);
    box-shadow: 0px 4px 15px whitesmoke;
}

.main-h1{
    text-align: center;
}
.main-table-data{
    border: solid rgba(32, 31, 31, 0.911);
    border-radius: 10px;
}
th{
    background-color:rgba(187, 120, 231, 0.932);
    padding: 20px;
}
tr{
    background-color: antiquewhite;
    text-align: center;
    
}
td{
   width: 12rem; 
}