body{
    margin: 0;
    border: none;
    outline: none;
    font-family: "Rubik", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    background-color: #45b39d ;
}